.page {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .page__header {
    display: flex;
    justify-content: space-between;
  }
}


.slider {

}

.page__slider {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(1232/1280*100%);
  height: calc(387.5px + (620 - 387.5)*((100vw - 800px)/(1280 - 800)));
  max-height: 620px;
  background-image: url(./images/banner_1.png);
  background-size: cover;
  border-radius: 50px;
}

@media screen and (max-width: 768px) {
  .page__slider {
    width: calc(342/375*100%);
    min-height: 530px;
    flex-direction: column;
    align-items: center;
    background-position: right;
  }
}

.slider__container {
  max-width: 394px;
  flex-wrap: wrap;
  margin-top: calc(110/1232*100%);
  margin-left: calc(105/1232*100%);
  display: flex;

}

@media screen and (max-width: 768px) {
  .slider__container {
    width: 100%;
    margin-top: 23px;
    margin-left: 0;
    flex-direction: column;
  }
}

.slider__title {
  max-width: 394px;
  margin: 0 0 20px 0;
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.24;
  color: var(--main-color);
}

@media screen and (max-width: 1279px) {
  .slider__title {
    font-size: calc(48/1280*100vw);
  }
}

@media screen and (max-width: 768px) {
  .slider__title {
    max-width: 300px;
    font-size: 28px;
    min-height: 70px;
    margin-bottom: 187px;
    margin-left: 21px;
  }
}

.slider__description {
  max-width: 394px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.21;
  color: var(--main-color);
}

@media screen and (max-width: 1279px) {
  .slider__description {
    font-size: calc(16/1280*100vw);
  }
}

@media screen and (max-width: 768px) {
  .slider__description {
    max-width: 300px;
    font-size: 14px;
    min-height: 99px;
    margin-left: 21px;
  }
}

.slider__button {
  cursor: pointer;
  align-self: flex-end;
  margin-bottom: calc(81/394*100%);
  padding: 0;
  width: 185px;
  height: 40px;
  background-color: transparent;
  border-radius: 25px;
  border:2px solid var(--main-color);
  color: var(--main-color);
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.24;
}

@media screen and (max-width: 1279px) {
  .slider__button {
    margin-top: 34px;
    margin-bottom: 0;
    align-self: center;
  }
}

.slider__dots {
  display: flex;
  flex-direction: column;
  margin-right: calc(59/1232*100%);
  margin-bottom: calc(63/1232*100%);
  align-self: flex-end;
  width: 20px;
  height: 88px;
}

@media screen and (max-width: 768px) {
  .slider__dots {
    align-self: center;
    flex-direction: row;
    width: 82px;
    height: 16px;
    margin-bottom: 28px;
    margin-right: 0;
  }
}

.slider__dot {
  cursor: pointer;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border: var(--main-color) 2px solid;
  border-radius: 50%;
  margin-bottom: 14px;
}

@media screen and (max-width: 768px) {
  .slider__dot {
    margin-bottom: 0;
    margin-right: 17px;
    width: 16px;
    height: 16px;
  }
}

.slider__dot_active {
  background-color: var(--main-color);
}

.slider__dot:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .slider__dot:last-of-type {
    margin-right: 0;
  }
}
/* .slider__image {
  width: 100%;
  height: 100%;

  background-position: right;
  border-radius: 50px;
} */
