.page {
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #F5F5F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__container {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1279px) {
  .page__header {
    display: flex;
    justify-content: space-between;
  }
}


