/*стили bestiary*/
.bestiary {}

.page__bestiary {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 156px;
}

@media screen and (max-width: 768px) {
  .page__bestiary {
    padding-top: 60px;
  }
}

.bestiary__title-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 auto;
  max-width: 418px;
  width: 100%;
  margin-bottom: 120px;
}

@media screen and (max-width: 768px) {
  .bestiary__title-container {
    max-width: 247px;
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.bestiary__title {
  margin: 0;
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.24;
  color: var(--mainblue);
}

@media screen and (max-width: 768px) {
  .bestiary__title {
    font-size: 24px;
  }
}

.bestiary__container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 290px);
  row-gap: 18px;
  column-gap: 27px;
}

@media screen and (max-width: 768px) {
  .bestiary__container {
    grid-template-columns: repeat(auto-fit, 163px);
    row-gap: 30px;
    column-gap: 16px;
  }
}

.bestiary__list {
  /* border: 1px solid red; */
}

.bestiary__group {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: end;
  overflow: hidden;
  border-radius: 90px;
}

@media screen and (max-width: 768px) {
  .bestiary__group {
    width: 100%;
    height: 193px;
    border-radius: 50px;
  }
}

.bestiary__background {
  position: relative;
  width: 185px;
  height: 100%;
  background-color: var(--fonForFish);
  border-radius: 90px;
}

@media screen and (max-width: 768px) {
  .bestiary__background {
    width: 104px;
    border-radius: 50px;
  }
}

.bestiary__fish {
  display: block;
  position: absolute;
  top: 40px;
  left: -25px;
  width: 318px;
  height: 258px;
  animation: fish 2s ease-in-out 3;
}

@media screen and (max-width: 768px) {
  .bestiary__fish {
    width: 178px;
    height: 146px;
    left: -15px;
    top: 30px;
  }
}

@keyframes fish {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-30px);
  }

  100% {
    transform: translateX(0px);
  }
}

.bestiary__seaweed {
  display: block;
  position: absolute;
  top: 0px;
  left: -70px;
  width: 331px;
  height: 341px;
  z-index: 1;
  transform-origin: 331px 341px;
  animation: seaweed 2s ease-in-out 3;
}

@media screen and (max-width: 768px) {
  .bestiary__seaweed {
    width: 186px;
    height: 193px;
    top: 10px;
    left: -30px;
  }
}

@keyframes seaweed {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(5deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.bestiary__subtitle {
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.24;
  color: var(--mainblue);
}

@media screen and (max-width: 768px) {
  .bestiary__subtitle {
    font-size: 16px;
  }
}

.bestiary__question {
  color: #F15A29;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.21;
}

.bestiary__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.21;
}

@media screen and (max-width: 768px) {
  .bestiary__description {
    font-size: 14px;
  }
}

.bestiary__decoration {
  position: absolute;
  top: -110px;
  right: -156px;
  width: 660px;
  height: 620px;
  background-image: url(../../images/decoration/decor-bestyary.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .bestiary__decoration {
    width: 314px;
    height: 295px;
  }
}
