/*стили bestiary*/
.bestiary {
}

.page__bestiary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bestiary__title {
  font-family: var(--secondaryFont);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.24;
}

.bestiary__container {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 290px);
  row-gap: 18px;
  column-gap: 27px;
}

.bestiary__list {
  border: 1px solid red;
}

.bestiary__group {
  width: 290px;
  height: 340px;
  display: flex;
  justify-content: end;
  overflow: hidden;
  border-radius: 90px;
}

.bestiary__background {
  position: relative;
  width: 185px;
  height: 100%;
  background-color: var(--fonForFish);
  border-radius: 90px;

}

.bestiary__fish {
  position: absolute;
  top: 40px;
  left: -25px;
  width: 318px;
  height: 258px;
  /* background-image: url(./images/sydak.png);
  background-size: cover; */
  animation:fish 2s ease-in-out 3;
}

@keyframes fish {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-40px);
  }

  100% {
    transform: translateX(0px);
  }
}
.bestiary__seaweed {
  position: absolute;
  top: 0px;
  left: -70px;
  width: 331px;
  height: 341px;
  z-index: 1;
  /* background-image: url(./images/trava.png);
  background-size: cover; */
  transform-origin: 331px 341px;
  animation:seaweed 2s ease-in-out 3;
}

@keyframes seaweed {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(5deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.bestiary__description {
}

.bestiary__subtitle {
}

.bestiary__question {
}
